<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Estacionamientos - Parking</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <h1><b>Estacionamiento I</b></h1>
  
    <div class="imagen-centrada">
      <img src="assets/imagenes/estacionamientoI.png" alt="estacionamiento" />
    </div>
  
    <h2>Lugares Disponibles / Available Places</h2>
    <br/>
  
    <ion-list>
      <ion-item>Item 1</ion-item>
    </ion-list>
  </ion-content>
  
  
</div>
