<ion-menu contentId="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-avatar slot="start">
        <ion-img src="../assets/imagenes/logo.png"></ion-img>
      </ion-avatar>
      <ion-title>Nombre Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu">
    <ion-list>
      <ion-item href="/home">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item href="/estacionamiento-h">
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-label>Estacionamiento H</ion-label>
      </ion-item>
      <ion-item href="/estacionamientoi">
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-label>Estacionamiento I</ion-label>
      </ion-item>
      <ion-item href="/estacionamientoj">
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-label>Estacionamiento J</ion-label>
      </ion-item>
      <ion-item href="/about">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Sobre Nosotros </ion-label>
      </ion-item>
      <ion-item href="/usuario">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Usuario </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
      

    

  </ion-content>
</ion-menu>